* {
  margin: 0;
}

body {
  font-family: 'Gloria Hallelujah', cursive;
  background-image: url(/images/confetti.jpg);
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
}

.card-section {
  display: flex;
  flex-direction: column;
  
  margin-top: 40px;
  border: solid 5px pink;
  background-color: pink;
  border-radius: 5px;
}

img {
  width: 150px;
  height: 200px;
  border: dotted 4px rgb(236, 109, 130);
  border-radius: 5px;
}